#main{
	background-color: pink;
	text-align:center;
	margin-top: 20px;
	border: 10px orange outset;

}
#headLine{
	font-family: Lobster;
	color: crimson;
	font-weight: bold;

}
body{
	background-color: orchid;
}
.navbar-default{
	background-image: linear-gradient(to bottom,green 0,blue 100%);
	text-align: center;
	border:0;
}
.col1{
	margin-top:5px;
	margin-bottom: 20px;
}
.poam{
	font-family: cursive;
	font-size: 20px;
}

#mommyFront{
	max-width: 100%;
}

blockquote{
	border-left:none;
}