#main{
	background-color: pink;
	text-align:center;
	margin-top: 20px;
	border: 10px orange outset;
	box-shadow: 3px 3px 5px darkgrey
}
#headLine{
	font-family: Lobster;
	color: crimson;
	font-weight: bold;

}
body{
	background-color: orchid;
}
.navbar-default{
	background-image: linear-gradient(to bottom,green 0,blue 100%);
	text-align: center;
	border:0;
}
.col1{
	margin-top:5px;
	margin-bottom: 20px;
}
.poem{
	font-family: cursive;
	font-size: 20px;
}

#mommyFront{
	max-width: 100%;
}

blockquote{
	border-left:none;
}


/*games.html*/

.gamelist{
	list-style: none;
	background-color: white;
	border: 20px white solid;
	border-radius: 8px;
	font-style: bold;
	font-size:20px;
	
}
.gamelist:hover{
	transform: scale(1.2);


}

.gameDivs a{
	text-decoration: none;

}

.gameTitle{
	font-size: 30px;
	color:deeppink;
	background-color:orange;
	border-radius:4px;
}
.gamelist:hover .gameTitle{
	color: green;
	
}
/*poams.html*/
.poems-{
	font-family: cursive;
	font-size: 20px;
	color: deepskyblue;
	text-shadow: 2px 2px 5px teal;	
	text-align: center;
}

